version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: healthcare-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - healthcare-net

  auth-service:
    build: ../auth-service
    container_name: auth-service
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: healthcare_auth
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    networks:
      - healthcare-net

  patient-service:
    build: ../patient-service
    container_name: patient-service
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: healthcare_patient
    depends_on:
      - postgres
    ports:
      - "8001:8001"
    networks:
      - healthcare-net


  appointment-service:
    build: ../appointment-service
    container_name: appointment-service
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: healthcare_appointment
    depends_on:
      - postgres
    ports:
      - "8003:8003"
    networks:
      - healthcare-net

  billing-service:
    build: ../billing-service
    container_name: billing-service
    ports:
      - "8004:8004"
    networks:
      - healthcare-net

  notification-service:
    build: ../notification-service
    container_name: notification-service
    ports:
      - "8005:8005"
    networks:
      - healthcare-net

  gateway-service:
    build: ../gateway-service
    container_name: gateway-service
    ports:
      - "8090:8090"
    networks:
      - healthcare-net

networks:
  healthcare-net:

volumes:
  postgres_data: